<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Cross Browser" parallel="tests">
  <test name="ChromeTest">
  <!-- <parameter name="browser" value="Chrome"></parameter> -->
    <classes>
      <class name="com.deluxe.tests.GmailLogin"/>
    </classes>
  </test> <!-- ChromeTest -->
</suite> <!-- Cross Browser -->
